@media only screen and (max-width: 1168px) {
  .discover {
    grid-template-columns: auto auto;
  }
  .bestBody {
    flex-direction: column;
  }
  .questians,
  .upgrade,
  .footerBanner,
  .best,
  .no1,
  .topPoster,
  .topbar,
  .awards {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .upgradeLeft {
    width: 50%;
  }
  .ourBrands {
    flex-direction: column;
    height: auto;
  }
  .left,
  .right {
    width: 100%;
    height: 450px;
  }
  .awardImages {
    gap: 80px;
  }
  .no1 {
    flex-direction: column;
    gap: 30px;
    height: auto;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .topbar {
    flex-direction: column;
    height: auto;
    justify-content: start;
    padding-bottom: 10px;
  }
  .topPosterText {
    width: auto;
    height: auto;
  }
  .topPosterButtons {
    flex-direction: column;
    align-items: flex-start;
  }
  .discover {
    grid-template-columns: auto;
  }
  .awardText {
    width: 90%;
  }
  .awardImages {
    flex-direction: column;
  }
  .no1 {
    flex-direction: column;
    height: auto;
    gap: 50px;
    align-items: flex-start;
  }
  .no1Left {
    gap: 30px;
  }
  .bestBody {
    width: 100%;
  }
  .bestLeft {
    width: 100%;
  }
  .bestLeftText {
    width: auto;
    height: auto;
  }
  .questians {
    flex-direction: column;
    height: auto;
    gap: 50px;
  }
  .qRight,
  .qLeft {
    width: 100%;
  }
  .upgrade {
    flex-direction: column;
  }
  .footer,
  .footerBanner {
    flex-direction: column;
    gap: 20px;
  }
  .footerBanner {
    height: auto;
    justify-content: start;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .no1Left,
  .norRight {
    width: 100%;
  }
  .ourBrands {
    height: auto;
  }
  .left {
    height: auto;
    padding: 10px 50px 10px 50px;
    display: flex;
    align-items: center;

    flex-direction: column;

    justify-content: space-around;
    gap: 30px;
  }
  .fbannerdiv {
    display: flex;
    align-items: center;
    gap: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #ffffff;
  }
}

@media only screen and (max-width: 480px) {
  .topbarDiv {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .questians,
  .upgrade,
  .footerBanner,
  .best,
  .no1,
  .topPoster,
  .topbar,
  .awards {
    padding-left: 20px;
    padding-right: 20px;
  }
  .topPosterTitle {
    width: auto;
    height: auto;
    font-size: 45px;
  }
  .button1,
  .button2 {
    width: 80%;
    padding: 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .discoverTitle {
    padding-left: 20px;
  }
  .leftItems {
    padding: 20px;
  }
  .bestBody {
    gap: 50px;
  }
  .bestRightImage {
    width: 80%;
  }
  .bestRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fbannerdiv {
    flex-direction: column;
    gap: 10px;
  }
  .norRight,
  .noRightBorder {
    width: 90%;
  }
}
@media only screen and (max-width: 380px) {
  .discoverImages,
  .discoverItem {
    width: 100%;
  }
  .discoverBorder {
    width: 90%;
  }
}

    color: #ffffff;
  }
  .best {
    padding: 60px 30px 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .bestLeft {
    width: 100%;
  }
  .bestRight {
    width: 100%;
  }
  .bestBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .bestLeftText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
  }
  .questians {
    width: auto;
    height: auto;
    padding: 80px 30px 80px 30px;
    background-image: url("./assets/Group\ 11.png");
    /* object-fit: contain; */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .qLeft {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .qleftTitle {
    width: 100%;
    height: auto;

    font-family: "Arvo";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;

    color: #ffffff;
  }
  .qleftText {
    color: #ffffff;
  }
  .qRight {
    width: 100%;
  }
  .upgrade {
    height: auto;
    margin-top: 120px;
    padding: 0 30px 0 30px;
    background: linear-gradient(
      266.35deg,
      #d82329 3.01%,
      rgba(255, 255, 255, 0) 29.55%
    );
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: center;
    gap: 50px;
  }
  .upgradeTitle {
    width: 100%;
    height: auto;
    font-family: "Arvo";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;

    color: #d82329;
  }
  .upgradeText {
    width: 100%;
    height: auto;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
  }
  .upgradeButton {
    box-sizing: border-box;

    width: 221px;
    height: 56px;
    background: #d82329;
    text-decoration: none;
    display: flex;
    border-radius: 8px;

    align-items: center;
    justify-content: center;
    color: white;
  }
  .upgradeLeft {
    width: 60%;
  }
  .upgradeRight {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .footer {
    background-color: #000000;
    color: #ffffff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .footerIcon {
    height: 30px;
    width: 30px;
  }
  .footerItem {
    display: flex;

    width: 80%;
    gap: 20px;
  }
  .footerTitle {
    width: 168px;
    height: 25px;

    font-family: "Arvo";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    color: #d82329;
  }
  .footerText {
    height: 69px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #ffffff;
  }
  .footerBanner {
    background: #d82329;
    height: auto;
    padding: 10px 50px 10px 50px;
    display: flex;
    align-items: center;

    flex-direction: column;

    justify-content: space-around;
    gap: 30px;
  }
  .fbannerdiv {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #ffffff;
  }
}
