@media only screen and (max-width: 1168px) {
  .discover {
    grid-template-columns: auto auto;
    align-items: center;
    place-items: center;
  }
  .bestBody {
    flex-direction: column;
  }
  .questians,
  .upgrade,
  .footerBanner,
  .best,
  .no1,
  .topPoster,
  .topbar,
  .awards {
    padding-left: 50px;
    padding-right: 50px;
  }
  .topPoster {
    background-repeat: no-repeat;
    background-position: 70 -100px;
  }
}
@media only screen and (max-width: 992px) {
  .upgradeLeft {
    width: 50%;
  }
  .ourBrands {
    flex-direction: column;
    height: auto;
  }
  .left,
  .right {
    width: 100%;
    height: 450px;
  }
  .awardImages {
    gap: 80px;
  }
  .no1 {
    flex-direction: column;
    gap: 30px;
    height: auto;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .topbar {
    flex-direction: column;
    height: auto;
    justify-content: start;
    padding-bottom: 10px;
  }
  .topPosterText {
    width: auto;
    height: auto;
  }
  .topPosterButtons {
    flex-direction: column;
    align-items: flex-start;
  }
  .discover {
    grid-template-columns: auto;
  }
  .awardText {
    width: 90%;
  }
  .awardImages {
    flex-direction: column;
  }
  .no1 {
    flex-direction: column;
    height: auto;
    gap: 50px;
    align-items: flex-start;
  }
  .no1Left {
    gap: 30px;
  }
  .bestBody {
    width: 100%;
  }
  .bestLeft {
    width: 100%;
  }
  .bestLeftText {
    width: auto;
    height: auto;
  }
  .questians {
    flex-direction: column;
    height: auto;
    gap: 50px;
  }
  .qRight,
  .qLeft {
    width: 100%;
  }
  .upgrade {
    flex-direction: column;
  }
  .footer,
  .footerBanner {
    flex-direction: column;
    gap: 20px;
  }
  .footerBanner {
    height: auto;
    justify-content: start;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .no1Left,
  .norRight {
    width: 100%;
  }
  .ourBrands {
    height: auto;
  }
  .left {
    height: auto;
  }
  .discoverTitle {
    padding-left: 50px;
  }
  .discover {
    width: 100%;
  }
  .t2,
  .t3 {
    display: none;
  }
  .topbarImage {
    scale: 0.8;
  }
  .topbar {
    gap: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .topbarDiv {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .questians,
  .upgrade,
  .footerBanner,
  .best,
  .no1,
  .topPoster,
  .topbar,
  .awards {
    padding-left: 20px;
    padding-right: 20px;
  }
  .topPosterTitle {
    width: auto;
    height: auto;
    font-size: 45px;
  }
  .button1,
  .button2 {
    width: 80%;
    padding: 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .discoverTitle {
    padding-left: 20px;
  }
  .leftItems {
    padding: 20px;
  }
  .bestBody {
    gap: 50px;
  }
  .bestRightImage {
    width: 80%;
  }
  .bestRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fbannerdiv {
    flex-direction: column;
    gap: 10px;
  }
  .norRight,
  .noRightBorder {
    width: auto;
  }
  .topPosterTitle {
    height: auto;
    line-height: 59px;
  }
  .discover {
    padding: 0;
    width: 100%;
    grid-template-columns: auto;
    align-items: center;
    place-items: center;
    justify-content: center;
  }

  .topPosterText,
  .lefttext,
  .awardText,
  .no1Text.bestLeftText,
  .panel,
  .upgradeText,
  .footerText,
  .discoverItemtext {
    font-size: 16px;
  }
  .discoverItem {
    width: 300px;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
  }
  .brands {
    width: 90%;
  }
  .no1Left {
    align-items: center;
  }
  .no1Button {
    width: 80%;
  }
  .best {
    margin-top: 0px;
  }
  .upgradeButton {
    width: 100%;
  }
  .topPosterButtons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .no1 {
    background-position: 30% 0;
    height: auto;
    background-position: center;
    background-size: cover;
  }
  .questians {
    height: auto;
    background-position: 10%;
  }
  .topPoster {
    background-image: url("./assets/man-with-cup-near-brick-wall\ 1\ \(1\).png");
    background-repeat: no-repeat;
  }
  .upgrade {
    background-image: none;
    background-color: rgb(255, 255, 255);
  }
  .upgradeLeft {
    width: 100%;
  }
}
@media only screen and (max-width: 330px) {
  .discoverItem {
    width: 280px;
  }
}
@media only screen and (max-width: 285px) {
  .discoverItem {
    width: 230px;
  }
}
