.body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Arvo", serif;
}
.topbar {
  height: 82px;
  background-color: black;
  color: white;
  padding: 0px 150px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.topbarDiv {
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  gap: 28px;
}
.topText {
  text-decoration: none;

  color: white;
}
.topPoster {
  background-image: url("./assets/man-with-cup-near-brick-wall\ 1\ \(1\).png");
  /* background-repeat: no-repeat; */
  background-position: 70% 0;
  padding: 60px 150px 60px 150px;
  object-fit: cover;
  gap: 39px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.topPosterTitle {
  width: 342px;
  height: 237px;

  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 79px;

  color: #ffffff;
}
.topPosterText {
  width: 682px;
  height: 182px;

  font: 1em sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  color: #ffffff;
}
.button1 {
  background: #d82329;
  cursor: pointer;
  padding: 15px 65px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
}
.button2 {
  box-sizing: border-box;
  width: 342px;
  height: 56px;
  background: #fcedee;
  border: 1px solid #d82329;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px 65px 15px 65px;
  text-decoration: none;
  color: #d82329;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topPosterButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.discoverTitle {
  height: auto;
  padding: 0;
  font-family: "Arvo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #d82329;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.discoverItem {
  width: 344px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.discoverItemtext {
  width: auto;
  height: 34px;
  margin-top: -45px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
}

.discoverBorder {
  margin-top: 25px;
  height: 420px;
  border: 3px solid black;
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.discoverBorder:hover {
  border: 3px solid #d82329;
}
.discoverBorder:hover > .discoverItemtext {
  color: #d82329;
}
.discover {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.d1 {
  background-image: url("./assets/Rectangle\ 4.png");
  background-repeat: no-repeat;
}
.d2 {
  background-image: url("./assets/Rectangle\ 5\ \(1\).png");
  background-repeat: no-repeat;
}
.d3 {
  background-image: url("./assets/Rectangle\ 6.png");
  background-repeat: no-repeat;
}
.d4 {
  background-image: url("./assets/Rectangle\ 4\ \(1\).png");
  background-repeat: no-repeat;
}
.d5 {
  background-image: url("./assets/Rectangle\ 5\ \(2\).png");
  background-repeat: no-repeat;
}
.d6 {
  background-image: url("./assets/Rectangle\ 6\ \(1\).png");
  background-repeat: no-repeat;
}
.ourBrands {
  height: 548px;
  width: 100%;
  margin-top: 200px;
  display: flex;
  align-items: flex-start;
}
.left {
  width: 45%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.right {
  width: 55%;
  height: 100%;
  background-image: url("./assets/Rectangle\ 12.png");
  background-position: 75% 0;
  object-fit: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.lefttext {
  width: auto;
  height: auto;
  font-style: normal;
  font: 1em sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  color: #000000;
}
.leftItems {
  padding: 50px;

  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brands {
  width: 70%;
}
.awards {
  padding: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}
.awardText {
  width: auto;
  height: auto;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font: 1em sans-serif;

  line-height: 28px;
  text-align: center;

  color: #000000;
}
.awardImages {
  display: flex;
  align-items: center;
  gap: 175px;
}
.awardItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  font: 1em sans-serif;
}
.no1 {
  height: 358px;
  background-image: url("./assets/Rectangle\ 15.png");
  object-fit: contain;
  background-repeat: no-repeat;
  padding: 50px 150px 50px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.no1Left {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.norRight {
  width: 500px;
  background: linear-gradient(90deg, #d82329 0%, #000000 100%);
  padding: 15px;
}
.no1Title {
  width: 245px;
  height: 147px;

  font-family: "Arvo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;

  color: #d82329;
}
.no1Button {
  box-sizing: border-box;

  width: 221px;
  height: 56px;
  background: #fcedee;
  border: 1px solid #d82329;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d82329;
}
.noRightBorder {
  border: 2px solid #ffffff;
  padding: 15px;
}
.no1Text {
  font-style: normal;
  font: 1em sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #ffffff;
}
.best {
  padding: 120px 150px 120px 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.bestBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bestLeftText {
  font-style: normal;

  font: 1em sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #000000;
}
.questians {
  height: 303px;
  padding: 80px 150px 80px 150px;
  background-image: url("./assets/Group\ 11.png");
  /* object-fit: contain; */
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.qLeft {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.qleftTitle {
  width: auto;
  height: auto;

  font-family: "Arvo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;

  color: #ffffff;
}
.qleftText {
  color: #ffffff;
  font: 1em sans-serif;
}
.qRight {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.upgrade {
  margin-top: 120px;
  padding: 0 150px 0 150px;
  background: linear-gradient(
    266.35deg,
    #d82329 3.01%,
    rgba(255, 255, 255, 0) 29.55%
  );
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
}
.upgradeTitle {
  width: auto;
  height: auto;
  font-family: "Arvo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;

  color: #d82329;
}
.upgradeText {
  width: auto;
  height: auto;
  font: 1em sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #000000;
}
.upgradeButton {
  box-sizing: border-box;

  width: 221px;
  height: 56px;
  background: #d82329;
  text-decoration: none;
  display: flex;
  border-radius: 8px;

  align-items: center;
  justify-content: center;
  color: white;
}
.upgradeRight {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.footerIcon {
  height: 30px;
  width: 30px;
}
.footerItem {
  display: flex;
  width: max-content;
  gap: 20px;
  text-decoration: none;
  display: flex;
}
.footerTitle {
  width: 168px;
  height: 25px;

  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  color: #d82329;
}
.footerText {
  height: 69px;
  text-decoration: none;
  font: 1em sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}
.footerBanner {
  background: #d82329;
  height: 80px;
  padding: 0 150px 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fbannerdiv {
  display: flex;
  align-items: center;
  gap: 50px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
}
.fbannerText {
  text-decoration: none;
  color: white;
}

/* accodian */

.accordion {
  background-color: #fef8f8;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active,
.accordion:hover {
  background-color: #f2ecec;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: visible;
}

.plus {
  font-weight: 700;
}
